{% extends "base.html" %}

{% block titulo %}
    <title> Listado de Proveedores</title>
{% endblock titulo %}

{% block contenido %}
    <h1 style="color:orange;">Listado de Proveedores</h1>
    <a href="{% url 'lista_proveedores' %}">Ver todos</a>
    <a href="{% url 'cargar_proveedores' %}">Crear proveedor</a>
    <br><br>
    <ul>
        {% for proveedor in proveedores %}
        <li>
            <td>{{proveedor.nombre}}</td>
            <td>{{proveedor.contacto}}</td>
        </li>
        {% endfor %}
    </ul>
{% endblock contenido %}