{% extends "base.html" %}

{% block titulo %}
    <title> Listado de Referentes</title>
{% endblock titulo %}

{% block contenido %}
    <h1 style="color:orange;">Listado de Referentes</h1>
    <a href="{% url 'lista_referentes' %}">Ver todos</a>
    <a href="{% url 'cargar_referentes' %}">Crear Referente</a>
    <br><br>
    <ul>
        {% for referente in referentes %}
        <li>
            <td>{{referente.nombre}}</td>
            <td>{{referente.interno}}</td>
        </li>
        {% endfor %}
    </ul>
{% endblock contenido %}